<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <%= simple_form_for(@post, :html => {:class => "form-horizontal"}) do |f| %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :location, :input_html => {:class => "twitter-typeahead", :id => "myTypeahead", :type => "text"} %>
        <p><%= f.label :meeting_time %><br>
        <div class='meeting_input'>
        <%= f.text_field :meeting_time , :class => 'datetime_picker', :value => Time.now.strftime(I18n.t('time.formats.form')) %></p>
        </div>
        <p><%= f.label :end_time %><br>
        <div class='end_input'>
        <%= f.text_field :end_time , :class => 'datetime_picker', :value => (Time.now + 12.hour.to_i).strftime(I18n.t('time.formats.form'))  %></p>
        </div>
        <%= f.input :recipients %><h4><%= I18n.t("post.email_instructions") %></h4>
        <%= f.input :allow_onid, :label => I18n.t("post.reply_to_checkbox") %>
        <%= f.hidden_field :onid, :value => current_user %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
