<td><%= link_to post.title, post_path(post) %></td>
<td><%= post.description %></td>
<td><%= post.location_string(@locations) %></td>
<td><%= post.FormatMeetingTime %></td>
<td><%= post.FormatEndingTime %></td>
<td><% unless post.recipients.blank? %>
    <% if post.recipient_onids.include?(current_user) %>
      <%= post.recipients %>
    <% end %>
  <% end %>
</td>
