<div class="col-xs-10">
  <h1><%= @post.title %></h1>

  <h4><% if @post.onid == current_user %>
    <br>
    <%= link_to 'Edit', edit_post_path(@post) %>
  <% end %></h4>

  <div class="panel panel-default">
    <div class="panel-body">
      Group Description: <%= @post.description %>
      <br>
      Location: <%= @post.location %>
      <br>
      Meeting Time: <%= @post.FormatMeetingTime %>
      <br>
      Ending Time: <%= @post.FormatEndingTime %>
      <br>
      <% unless @post.recipients.blank? %>
        <% if @post.recipient_onids.include?(current_user) %>
          Recipients: <%= @post.recipients %>
        <% end %>
      <% end %>
      <br>
    </div>
  </div>

  <%= link_to 'Back', posts_path %>

</div>
